*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gap: 1rem;
  --bg-black-clr: #000;
  --bg-primary-color: #121212;
  --secondary-color: #282828;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: var(--bg-black-clr);
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--bg-black-clr);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "sidebar project project sideContainer"
    "sidebar project project sideContainer"
    "sidebar project project sideContainer";
  gap: 0.5rem;
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: var(--secondary-color);

  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 1rem;
  flex-wrap: wrap;
}

.user-actions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.search-bar,
.user-perfil,
.user-welcome {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  padding: 2rem;
}
.search-bar i {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}
.search-bar input {
  border: 0;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
}

.user-perfil {
  display: flex;
  gap: var(--gap);
}

.user-perfil i {
  font-size: 1.5rem;
}

.user-perfil-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid black;
}

.user-welcome {
  align-self: center;
}

.user-welcome {
  color: #000;
  font-weight: bold;
}

.user-actions {
  display: flex;
  gap: 1rem;
}

.user-actions button {
  padding: 1rem;
  border: 1px solid black;
  outline: 0;
  font-size: 1rem;
  color: #fff8f8;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--secondary-color);
}
.sidebar {
  grid-area: sidebar;
  background-color: var(--bg-primary-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.sidebar h2 {
  font-size: 1.5rem;
  color: #fff;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

.sidebar-list li {
  display: flex;
  gap: 1rem;
}

.sidebar-list i {
  color: #fff;
}

.sidebar-list a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.main-content {
  background-color: var(--bg-primary-color);
}

.main-content {
  background-color: var(--bg-primary-color);
  grid-area: project;
}
.main-content h2 {
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}
.project-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 3rem;
  color: #fff;
  padding: 1rem;
}

.project-section article {
  padding: 1rem;
  border-left: 5px solid black;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.project-section-icons {
  align-self: flex-end;
}

.profile-info {
  background-color: red;
}

.side-container {
  grid-area: sideContainer;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.announcements {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.75);
}
.announcements article {
  padding: 0.8rem;
}
.announcements h2 {
  font-size: 1rem;
}

.trending-topics {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--secondary-color);
  padding: 1rem;
  flex-wrap: wrap;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.trending-items {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}
.trending-topics img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.trending-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.trending-topic h2 {
  margin-bottom: 1rem;
}

/*mobile*/

@media only screen and (max-width: 747px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "header header header header"
      "sidebar sidebar sidebar sidebar"
      "project project project project"
      "sideContainer sideContainer sideContainer sideContainer";
    gap: 0.5rem;
    min-height: 100vh;
    margin: 0 auto;
  }
}
